.row
  %h3 Welcome to Sinatra!
.row
  %form{ action: "/submit", method: "POST" }
<?- form ?><? if( true == recaptcha ){ ?>
    .g-recaptcha{ data: { sitekey: @recaptcha_key, callback: "imNotARobot" } }<? } ?>
    %button#submit.btn.btn-primary{ type: "submit", class: "btn btn-default", <? if( true == recaptcha ){ ?>disabled: true<? } ?> } Submit