<div class="row">
  <h3>Welcome to Sinatra!</h3>
</div>
<div class="row">
  <form action="/submit" method="POST">
<?- form ?>
    <button class="btn btn-default btn btn-primary" type="submit">Submit</button>
  </form>
</div>
